<%= form_with(model: recipe_form, scope: :recipe, url: recipes_path, local: true) do |form| %>

<% if recipe_form.errors.any? %>
<div id="error_explanation">
  <h2>
    <%= pluralize(recipe_form.errors.count, "error") %> prohibited this recipe from being saved:
  </h2>

  <ul>
    <% recipe_form.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="text-center">
<h2>自分のおすすめのおつまみレシピをみんなと共有する</h2>
<p>シェフのおすすめレシピに追加されてみんなと共有されます</p>
</div>

<form class="search-form">
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">
        <i class="fa fa-search"></i>
      </span>
    </div>
    <%# <input class="form-control" type="text" placeholder="レシピのurlを入力する"> %>
    <%= form.url_field :url , placeholder: "レシピのurlを入力する", class: "form-control"%>
    <div class="input-group-append">
      <%= form.submit "レシピをシェアする", class: "btn btn-light"%>
      <%# <button class="btn btn-light" type="button">レシピをシェア</button> %>
    </div>
  </div>
</form>

<% end %>