<%= form_with(model: recipe_form, scope: :recipe, url: recipes_path, local: true) do |form| %>

<% if recipe_form.errors.any? %>
<div id="error_explanation">
  <h2>
  <%= pluralize(recipe_form.errors.count, "error") %> prohibited this recipe from being saved:
  </h2>

  <ul>
    <% recipe_form.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<p>
  <%= form.label :または自分のおすすめのおつまみレシピをみんなと共有する %>
  <br>
  <%= form.text_area :url , placeholder: "レシピのurlを記入"%>
</p>

<p>
  <%= form.submit "レシピをシェアする"%>
</p>
<% end %>