<h1>Listing zoom schedules</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th></th>
  </tr>

  <% @zooms.each do |zoom| %>
    <tr>
      <td><%= zoom.text %></td>
      <td><%= zoom.uuid %></td>
      <td><%= link_to 'Show', zoom_path(zoom) %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'New Zoom', new_zoom_path %>
<%= link_to 'Zoom一覧', zooms_path %>
<%= link_to 'レシピ一覧', recipes_path %>