<h1>リモート居酒屋「みんなでクック」予約一覧ページ</h1>

<table>
  <tr>
    <th>created_at</th>
    <th>hash</th>
  </tr>

  <% @zooms.each do |zoom| %>
    <tr>
      <td><%= link_to zoom.created_at, "/zoom/list/#{zoom.uuid}" %></td>
      <td><%= zoom.uuid %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'New Zoom', new_zoom_path %>
<%= link_to 'Zoom一覧', zooms_path %>
<%= link_to 'レシピ一覧', recipes_path %>