
<h1>リモート居酒屋「みんなでクック」会場</h1>
この画面を飲み会の参加者に伝える

<p>
  <strong>zoom招待:</strong>
  <%= @zoom.text %>
</p>

<h2>「みんなでクック」のシェフ一押しのオススメレシピ</h2>
<p>仲間と一緒に同じレシピでおつまみ作成に挑戦しよう。オンライン上でも同じ料理を味わえるかも？</p>
<table>
  <tr>
    <th></th>
    <th>料理名</th>
    <th>おつまみ作成予定</th>
    <th>シェフのお勧め度</th>
  </tr>

  <% @recipes.each do |recipe| %>
    <tr>
      <td><%= check_box_tag recipe.id%></td>
      <td><%= link_to recipe.title, recipe.url %></td>
      <td><%= recipe.frequency %></td> 
      <td>★★★★★</td>
    </tr>
  <% end %>
</table>

<%= link_to 'レシピを追加する', new_recipe_path %>
</br>
<!-- シェア用途にOGPを設定しておこう-->
<h2>シェア</h2>
<div class="line-it-button" data-lang="ja" data-type="share-a" data-ver="3" data-url="<%= zoom_path(@zoom) %>" data-color="default" data-size="large" data-count="false" style="display: none;"></div>
 
 </br>
<%= link_to 'Back', zooms_path %>

<script src="https://d.line-scdn.net/r/web/social-plugin/js/thirdparty/loader.min.js" async="async" defer="defer"></script>