    <div class="features-clean">
        <div class="container">
            <p id="notice"><%= notice %></p>
            <div class="intro">
                <div class="text-center">
                    <%= image_tag 'tatemono_izakaya.png', :size => "400x300" %>
                    <h2>リモート居酒屋「みんなでクック」イベントセッティング画面</h2>
                    <p>リモート居酒屋「みんなでクック」は、オンラインでの飲み会の参加者におつまみレシピを伝授する居酒屋です。参加者がそれぞれレシピを作ってオンラインでできた料理をシェアしよう！ </p>
                </div>
            </div>
            <div class="row features">
                <div class="col-sm-6 col-lg-4 item"><i class="fa fa-clock-o icon"></i>
                    <h3 class="name">Step1</h3>
                    <p class="description">ズーム飲み会をセッテイングして、飲み会をする仲間に知らせる！</p>
                </div>
                <div class="col-sm-6 col-lg-4 item"><i class="fa fa-star-o icon"></i>
                    <h3 class="name">Step2</h3>
                    <p class="description">ズーム飲み会に行く前に「みんなでクック」のシェフのおすすめおつまみレシピでクッキング！</p>
                </div>
                <div class="col-sm-6 col-lg-4 item"><i class="fa fa-glass icon"></i>
                    <h3 class="name">Step3</h3>
                    <p class="description">ズームで作った料理を自慢する！</p>
                </div>
            </div>
        </div>
    </div>
    <div class="contact-clean" style="background-color: rgb(255,255,255);">
        <%= form_with scope: :zoom, url: zooms_path, local: true do |form| %>
        <h2 class="text-center">飲み会をホストする</h2>
        <p class="text-center">
            例：</br></br>
            Kazuya Isawaさんがあなたを予約されたZoomミーティングに招待しています。</br>

            トピック: マイミーティング</br>
            時間: 2020年8月26日 03:00 PM 大阪、札幌、東京</br>

            Zoomミーティングに参加する</br>
            https://us02web.zoom.us/j/84064231812?pwd=SzNFbS9uSjVRQzE5TU5RL0VnOXUyZz</br>

            ミーティングID: 840 6423 1813</br>
            パスコード: n7xEhaa</br>
        </p>
        <div class="form-group text-center""><%= form.text_area :text, rows: "14", cols: "auto"%></div>
            <div class=" form-group text-center"><%= form.submit "シェフにおつまみレシピを聞く", class: "btn btn-primary" %></div>
        <% end %>
    </div>