
<h1>Zoom招待画面</h1>
<p>
  <strong>Title:</strong>
  <%= @zoom.text %>
</p>

<h2>Zoom飲み会にぴったりのおつまみレシピ</h2>
<p>仲間とともに同じレシピでおつまみ作成に挑戦しよう。オンライン上でも同じ料理を味わえるかも？</p>

<table>
  <tr>
    <th>Title</th>
    <th>url</th>
    <th>frequency</th>
    <th></th>
  </tr>

  <% @recipes.each do |recipe| %>
    <tr>
      <td><%= recipe.title %></td>
      <td><%= recipe.url %></td>
      <td><%= recipe.frequency %></td> 
      <td><%= link_to 'Show', recipe_path(recipe) %></td>
    </tr>
  <% end %>
</table>

<p>シェアボタンを作成する</p>

<%= link_to 'Back', zooms_path %>