<!DOCTYPE html>
<html>

<head>
  <title>みんなでクック</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= show_meta_tags %>

  <% if Rails.env.production? %>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-176750000-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-176750000-1');
  </script>
  <% end %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

</head>

<body>
  <div class="notifications">
    <% flash.each do |message_type, message| %>
    <%= content_tag :div, message, class: message_type %>
    <% end %>
  </div>
  <nav class="navbar navbar-light navbar-expand-md navigation-clean">
    <div class="container"><a class="navbar-brand" href="/">リモート居酒屋「みんなでクック」</a><button data-toggle="collapse"
        class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span
          class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navcol-1">
        <ul class="nav navbar-nav ml-auto">
          <li class="nav-item" role="presentation"><a class="nav-link" href="/">飲み会をセッテイング</a></li>
          <li class="nav-item" role="presentation"><a class="nav-link" href="/recipes">人気おつまみ一覧</a></li>
          <li class="nav-item" role="presentation"></li>
        </ul>
      </div>
    </div>
  </nav>
  <%= yield %>


  <footer id="footer">
    <div style="background: white; text-align: center; margin: 0px; padding:10px">
      <p style="color:grey; font-family:raleway">
        © 2020 <a href="https://twitter.com/edge2992" style="color:grey">edge2992</a>
        <%= link_to 'プライバシーポリシー', page_path('privacy_policy'), {style: "color:grey"}%>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSfUuEXAeZSH4jedQxJp6Lf65KfLTjtPmKfTs6inKViSw_ptCA/viewform?usp=sf_link" style="color:grey">お問い合わせ</a>
      </p>
      <nav>

    </div>
  </footer>
</body>

</html>